.App {;
    background: #00aeef;
    display: flex;
    flex-wrap: nowrap;


}
.title {
    width: 20%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: red;
    font-style: italic;
    font-size: 25px;
;
}
.a {
    width: 30%;

    margin-left: 10px;

    padding-left: 20px;
}
.b {
    width: 60%;
    border: 2px solid red;
    padding-left: 20px;
    /*flex-grow: 5;*/


}


